/* Стили для кода */
.slidev-layout code {
  font-size: 0.875rem;
  /* text-sm */
  padding: 0.25rem 0.5rem;
  /* px-1 py-0.5 */
  border-radius: 0.25rem;
  /* rounded */
  background: var(--prism-background);
}

.slidev-layout pre code {
  padding: 0;
  /* px-0 py-0 */
  background: transparent;
}

.slidev-layout pre {
  padding: 1rem;
  /* p-4 */
  border-radius: 0.5rem;
  /* rounded-lg */
  margin-bottom: 1rem;
  /* mb-4 */
  background: var(--prism-background);
}